
body{
    margin: 1rem 2rem 5rem;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    height: 100%;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    min-height: 100vh;
    color: hsl(237, 12%, 33%);
}
.imagem-sombra {
    position: relative;
    top: 8.5rem;
    left: 2rem;
}

.imagem{
    width: 245px;    
    position: absolute;
    top: 2.5rem;
    left: 4rem;
}

 h1 {
    text-align: center;
    margin-top: 5.5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

.questionario {
    margin-top: 30px;
    background-color: white;
    border-radius: 20px;
    padding: 3rem 2rem;
    justify-content: space-between;
    height: max-content;
}

.questionario:not(.pergunta__seta){
    flex-direction: column;
}

.questionario__unidade {
    border-bottom: 1px solid hsl(240, 5%, 91%);
}

.pergunta {
    display: inline-block;
    width: 60vw;
    margin: 1rem auto;
}

.perguntaAtiva {
    font-weight: 700;
    color: hsl(238, 29%, 16%);
}

.pergunta__seta {
    display: inline-block;
    justify-content: right;
}

.pergunta__setaAtiva {
    transform: scaleY(-1);
}

.resposta {
    display: none;
    margin-bottom: 1rem;
}

.respostaAtiva {
    display: block;
    font-size: 11px;
    color:hsl(240, 6%, 50%);
}

.attribution {
    margin: 2rem;
    padding: 2rem;
    color: hsl(238, 29%, 16%);
}
.attribution a {
    text-decoration: none;
    color: black;
}
.attribution a:hover {
    font-weight: 700;
}